.table{
    margin-top: 50px;

}
.nav-item .nav-link{
    color: white;
}
.nav-item .nav-link{
    color: white;
}
.top-banner{
    padding-top: 50px;
}
.amader{
    margin-bottom: 30px;
    font-weight: 800;
    color: white;
}
.navbar-brand{
    height: 50px;
    width: 50px;
}
.top-banner{
    background-image: url("images/Cricket_Blog-copy-1.png");
    max-width: 100%;
    height: auto;
    /* height: 70vh; */
    background-size: cover;
    background-repeat: no-repeat;
}
.name{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding-top: 5px;
    height: 40px;
    font-weight: 700;
    width: 150px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: white;
}
footer{
    text-align: center;
    margin-top: 50px;
    padding: 10px 10px;
    background-color: aquamarine;
}
.point-table{
    padding-top: 50px;
    background-color: rgb(225, 241, 246);
    margin-bottom: 10px;
}
td{
    font-weight: 700;
}